USE [master]
GO
/****** Object:  Database [dbProyectoSAE]    Script Date: 12/2/2024 9:14:53 PM ******/
CREATE DATABASE [dbProyectoSAE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbProyectoSAE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbProyectoSAE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbProyectoSAE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbProyectoSAE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbProyectoSAE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbProyectoSAE]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IDAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estacionamiento]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacionamiento](
	[IDEstacionamiento] [int] IDENTITY(1,1) NOT NULL,
	[TipoVehiculo] [nvarchar](50) NOT NULL,
	[CapacidadTotal] [int] NOT NULL,
	[Ocupados] [int] NOT NULL,
	[Disponibles]  AS ([CapacidadTotal]-[Ocupados]),
PRIMARY KEY CLUSTERED 
(
	[IDEstacionamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroPago]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroPago](
	[IDRegistroPago] [int] IDENTITY(1,1) NOT NULL,
	[CodigoTicket] [nvarchar](50) NOT NULL,
	[TipoVehiculo] [nvarchar](50) NOT NULL,
	[HoraIngreso] [datetime] NOT NULL,
	[HoraSalida] [datetime] NOT NULL,
	[MontoCobrado] [decimal](18, 2) NOT NULL,
	[DuracionEstadia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRegistroPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[IDReporte] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[IngresosTotales] [decimal](18, 2) NOT NULL,
	[OcupacionPromedio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarifa]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifa](
	[IDTarifa] [int] IDENTITY(1,1) NOT NULL,
	[TipoVehiculo] [nvarchar](50) NOT NULL,
	[TarifaPorHora] [decimal](18, 2) NOT NULL,
	[TiempoCortesia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 12/2/2024 9:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Codigo] [nvarchar](50) NOT NULL,
	[TipoVehiculo] [nvarchar](50) NOT NULL,
	[HoraIngreso] [datetime] NOT NULL,
	[HoraSalida] [datetime] NULL,
	[TotalPago] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RegistroPago]  WITH CHECK ADD FOREIGN KEY([CodigoTicket])
REFERENCES [dbo].[Ticket] ([Codigo])
GO
USE [master]
GO
